[submodule "eth-amm/lib/forge-std"]
	path = eth-amm/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "eth-amm/lib/openzeppelin-contracts"]
	path = eth-amm/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
